body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: block;
}

#output {
    font-weight: 700;
    margin-top: 20px;
}
button:hover{
    background-color: cyan;
    color:#ffffff;
}
button{
    text-align: right;
    cursor: pointer;
}
